# Main
root = string

# Data
dataset_name = string
stack = string
labels = string

# Model
model_name = string
num_adaboost_stumps = integer(default=2000)
mirror = integer(default=0)
ignore = integer(default=0)
